@import "tailwindcss";

:root {
  --background: #FFE3DC;
  --foreground: #3A2D32;
  --card: #FFFFFF;
  --primary: #3A2D32;
  --secondary: #DBB4AD;
  --accent: #646D5A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #4A3940;
    --primary: #FFE3DC;
    --secondary: #DBB4AD;
    --accent: #646D5A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
