@import "tailwindcss";

:root {
  --background: #292929;
  --foreground: #ededed;
  --card: #4A3940;
  --card2: #293d21;
  --primary: #bda97f;
  --secondary: #c68a46;
  --accent: #646D5A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #ededed;
    --card: #4A3940;
    --card2: #293d21;
    --primary: #bda97f;
    --secondary: #c68a46;
    --accent: #646D5A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
